name: CI build and test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Pull deps
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake libcurl4-openssl-dev

    - name: Config CMake
      run: cmake -S. -Bbuild -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build/

    - name: Tests
      run: ./build/tests
